.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: block;
    padding: 2rem 0;
    margin-top: .5rem;

    

    &:last-child {
      border: 0;
    }
  }

  a {
    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }
    &:visited .catalogue-line {
      width: 10rem;
    }
  }

  &-item p{
    color: $default-color
  }

  &-pinned {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: .5px;
  }

  &-time {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: .5px;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
    line-height: 1em;

    &-link{
      color: $default-tint;
      font-size: 1rem;
      font-weight: 100;
    }
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 2rem;
  }

  &-tag{
    color:$code-color;
    background-color: $grey-2;
    padding: 4px;
    border: 1px solid $code-color;
    margin-right: 10px;

    &:hover{
      background-color: $grey-3;
    }
  }
}
