.dropdown-list {
    cursor: pointer;
    position:relative;

    &-content{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        @include transition(all 0.3s ease-out);
    }

    &:hover &-content{

        display:block;
    
        & ul{
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            left:0;
            position:relative;
            margin:0;
            padding: 0;
            
            li {
                width: 3rem;
                text-align: center;
                padding:0 !important;
                width:100%;
            }
            & li:hover{
                
                background: #b4b4b4;
            }
        }
        
    }

}

// li:hover {
//     cursor: pointer;
// }

// ul li ul {
//     visibility: hidden;
//     opacity: 0;
//     position: absolute;
//     padding-left: 0;
//     left: 0;
//     display: none;
//     background: white;
//   }

//   ul li:hover > ul,
//   ul li ul:hover {
//     visibility: visible;
//     opacity: 1;
//     display: block;
//     text-align: left;
//     top:0;
//     padding-top: 20px;
//     box-shadow: 0px 3px 5px -1px #ccc;
//   }

//   ul li ul li {
//     clear: both;
//     width: 100%;
//     text-align: left;
//     margin-bottom: 20px;
//     border-style: none;
//   }

//   ul li ul li a:hover {
//     padding-left: 10px;
//     border-left: 2px solid #3ca0e7;
//     transition: all 0.3s ease;
//   }