<div class="catalogue-item">
  
<time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time> <a href="{{ post.domainlink }}">{{ post.domain }}</a>

<a href="{{ post.link }}">
  <div>
    {% if include.sticky == 'true' %}
    <span class="catalogue-pinned">Pinned &middot;</span>
    {% endif %}
    <h1 class="catalogue-title">{{ post.title }} <span class="catalogue-title-link">({{ post.link }})</span></h1>
    <div class="catalogue-line"></div>

    <p>
      {{ post.content | strip_html }}
    </p>

    
  </div>
</a>

<div>
  {% for tag in site.tags %}
    {% if post.tags contains tag.name or tag.name == post.tags %}
        <a class="catalogue-tag" href="{{ site.url }}{{ site.baseurl }}{{ tag.url }}">{{ tag.name }}</a>
    {% endif %}
{% endfor %}
</div>
</div>