<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li class="dropdown-list"><a href="#">Search by</a>
        <div class="dropdown-list-content">
          <ul>
            <li><a href="/search/post">Posts</a></li>
            <li><a href="/search/tag">Tags</a></li>
          </ul>
        </div>  
      </li>
      <li><a href="{{ site.baseurl }}/">Links</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">Tags</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
    </ul>
  </div>
</nav>
