<a href="{{ site.url }}{{ site.baseurl }}{{ tag.url }}" class="catalogue-item">
  <div>
    {% if include.sticky == 'true' %}
    <span class="catalogue-pinned">Pinned &middot;</span>
    {% endif %}
    <h1 class="catalogue-title">{{ tag.name }}</h1>
    <div class="catalogue-line"></div>

    <p>
      {{ tag.content | strip_html}}
    </p>

  </div>
</a>