---
layout: default
---
<script>
	document.addEventListener("DOMContentLoaded", () => {
	rel_tags = document.querySelector(".related-tags");
	function show(){
		rel_tags.classList.toggle("hide")
	}
	document.querySelector(".show-all").addEventListener('click', show);
});
</script>
<h1 class="post-title">{{ page.name }}</h1>

<h3>Related: {% for tag in site.tags %}
	{% if page.related contains tag.name %}
		<a href="{{ site.url }}{{ site.baseurl }}{{ tag.url }}">{{ tag.name }}</a>  
	{% endif %}
{% endfor %}
</h3>
<a class="show-all" href="#">Show all related links >></a>

<center>{{ content }}</center>

{% include tag_posts.html tag=page.name %}

<div class="related-tags hide">
  {% for tag in site.tags %}
	{% if page.related contains tag.name %}
	  {% include tag_posts.html tag=tag.name %}
	{% endif %}
  {% endfor %}
</div>